.navbar-nav .nav-link .fa-sun {
  height: 25px;
  width: 25px;
  margin: auto 50px;
  color: rgb(240, 192, 86);
}

.navbar-nav .nav-link .fa-search {
  height: 25px;
  width: 25px;
  margin: auto 50px;
  color: rgba(13, 103, 247, 0.875);
}

.navbar-nav .nav-link .fa-dollar-sign {
  height: 25px;
  width: 25px;
  margin: auto 50px;
  color: rgba(0, 0, 0, 0.875);
}

.navbar-nav .nav-link .fa-shopping-cart {
  height: 25px;
  width: 25px;
  color: limegreen;
  margin: auto 50px;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e1d9d9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.crop-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.crop-card {
  background-color: #c4bcdd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.crop-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.crop-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.crop-price {
  font-size: 16px;
}
